[submodule "video_encoder"]
	path = video_encoder
	url = https://github.com/MTsuyama-git/video_encoder.git
[submodule "binary_player"]
	path = binary_player
	url = https://github.com/MTsuyama-git/binary_player.git
